<div
    #attachmentFrame
    id="attachment-library"
    [formGroup]="fg"
>
    <div
        #attachmentMask
        id="attachment-library-mask"
    >
        {{ placeholder }}
    </div>
    <div
        id="library-sortable"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
        [formArrayName]="formArrayName"
    >
        <ng-container
            *ngFor="let attachment of attachments.controls; let i=index"
        >
            <au-attachment-item
                class="relative w-full md:w-1/2 lg:w-1/3"
                [formGroup]="attachment"
                cdkDrag

                [attachmentFamilies]="attachmentFamilies"
                (enableCrop)="onEnableCrop($event)"
                (removeItem)="onRemoveItem($event)"
            >
            </au-attachment-item>
        </ng-container>
    </div>
</div>
