<div class="absolute inset-0 overflow-hidden flex flex-col w-full" *transloco="let t">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 sm:px-10 border-b bg-card dark:bg-transparent">

        <div class="flex-1 min-w-0">
            <au-breadcrumb [data]="breadcrumb"></au-breadcrumb>
            <au-title>
                <mat-icon
                    svgIcon="mat_solid:cloud_upload"
                    class="icon-size-8 mr-2"
                >
                </mat-icon>
                {{ t('kitchenSink.FileUpload') }}
            </au-title>
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="ml-3"
                    type="button"
                    form="formDetail"
                    mat-flat-button
                    color="accent"
                    [disabled]="!enableSubmitButton"
                    (click)="
                        actionService.action({
                            id          : 'kitchenSink::fileUpload.detail.submitFiles',
                            isViewAction: false
                        })
                    "
                >
                <mat-icon
                    class="icon-size-5 mr-2"
                    svgIcon="mat_solid:save"
                >
                </mat-icon>
                {{ t('Submit') }}
            </button>
        </div>
        <!-- / Actions -->

    </div>
    <!-- / Header -->

    <!-- Main -->
    <div class="flex-auto pt-6 px-6 sm:pt-10 sm:px-10 overflow-y-auto" cdkScrollable>

        <div class="form-card">

            <form   id="formDetail"
                    novalidate
                    [formGroup]="fg"
                    (ngSubmit)="onSubmit()"
            >

                <div class="layout__container">

                    <au-file-upload
                        class="col-12"
                        [isMultiple]="false"
                        (files)="
                            actionService.action({
                                id          : 'kitchenSink::fileUpload.detail.stagingExample1',
                                isViewAction: false,
                                meta: {
                                    files: $event
                                }
                            })
                        "
                    >
                    </au-file-upload>

                    <au-file-upload
                        class="col-12"
                        [isMultiple]="true"
                        (files)="
                            actionService.action({
                                id          : 'kitchenSink::fileUpload.detail.stagingExample2',
                                isViewAction: false,
                                meta: {
                                    files: $event
                                }
                            })
                        "
                    >
                    </au-file-upload>

                    <mat-form-field
                        appearance="outline"
                        class="col-12"
                    >
                        <mat-label>Multiple input select</mat-label>
                        <ngx-mat-file-input
                            formControlName="example3"
                            multiple
                            (files)="
                                actionService.action({
                                    id          : 'kitchenSink::fileUpload.detail.stagingExample3',
                                    isViewAction: false,
                                    meta: {
                                        files: $event
                                    }
                                })
                            "
                        >
                        </ngx-mat-file-input>
                        <mat-icon
                            matSuffix
                            class="mr-2"
                            svgIcon="mat_solid:folder"
                        >
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        class="col-12"
                    >
                        <mat-label>Single input select</mat-label>
                        <ngx-mat-file-input
                            formControlName="example4"
                            (files)="
                                actionService.action({
                                    id          : 'kitchenSink::fileUpload.detail.stagingExample3',
                                    isViewAction: false,
                                    meta: {
                                        files: $event
                                    }
                                })
                            "
                        >
                        </ngx-mat-file-input>
                        <mat-icon
                            matSuffix
                            class="mr-2"
                            svgIcon="mat_solid:folder"
                        >
                        </mat-icon>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        class="col-12"
                    >
                        <mat-label>Single input select with clear button</mat-label>
                        <ngx-mat-file-input
                            #removableInput
                            formControlName="example5"
                        >
                        </ngx-mat-file-input>
                        <button
                            mat-icon-button
                            matSuffix
                            *ngIf="!removableInput.empty"
                            class="mr-2"
                            (click)="removableInput.clear($event)"
                        >
                          <mat-icon svgIcon="mat_outline:clear"></mat-icon>
                        </button>
                        <mat-icon
                            *ngIf="removableInput.empty"
                            matSuffix
                            svgIcon="mat_solid:folder"
                            class="mr-2"
                        >
                        </mat-icon>
                    </mat-form-field>


                </div>

            </form>

        </div>

    </div>
    <!-- / Main -->

</div>
