<div
    *transloco="let t"
    class="w-auto flex-col px-2 py-0"
    matSnackBarActions
>
    <form
        id="screenRecordingConfigSnackbarForm"
        class="flex w-auto flex-col"
        [formGroup]="fg"
        novalidate
        (ngSubmit)="onSubmit($event)"
    >
        <mat-form-field
            appearance="outline"
            class="col-12"
            tiny
        >
            <mat-label>{{ t('support.Display') }}</mat-label>
            <mat-select
                formControlName="displaySurface"
                panelClass="screen-recording-config-select-panel"
            >
                <mat-option value="tab">
                    {{ t('support.CurrentTab') }}
                </mat-option>
                <mat-option value="window">
                    {{ t('support.Window') }}
                </mat-option>
                <mat-option value="screen">
                    {{ t('support.FullScreen') }}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix>airplay</mat-icon>
            <mat-error>{{ formErrors?.displaySurface | async }}</mat-error>
        </mat-form-field>
        <mat-form-field
            appearance="outline"
            class="col-12"
            tiny
        >
            <mat-label>{{ t('support.Audio') }}</mat-label>
            <mat-select
                formControlName="audioDeviceId"
                panelClass="screen-recording-config-select-panel"
            >
                <mat-option value="none">
                    {{ t('support.NoMicrophone') }}
                </mat-option>
                @for (
                    inputDeviceInfo of inputDevicesInfo;
                    track inputDeviceInfo.deviceId
                ) {
                    <mat-option [value]="inputDeviceInfo.deviceId">
                        {{ inputDeviceInfo.label }}
                    </mat-option>
                }
            </mat-select>
            <mat-icon matSuffix>mic</mat-icon>
            <mat-error>{{ formErrors?.audioDeviceId | async }}</mat-error>
        </mat-form-field>
        <div>
            <button
                type="submit"
                class="px-3 text-sm leading-8"
                mat-flat-button
                form="screenRecordingConfigSnackbarForm"
                color="warn"
            >
                <mat-icon fontSet="material-symbols-outlined">
                    screen_record
                </mat-icon>
                {{ t('support.RecordClip') }}
            </button>
            <button
                class="ml-2"
                matIconButton
                (click)="dismiss()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </form>
</div>
