<div class="absolute inset-0 overflow-hidden flex flex-col w-full" *transloco="let t">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 sm:px-10 border-b bg-card dark:bg-transparent">

        <div class="flex-1 min-w-0">
            <au-breadcrumb [data]="breadcrumb"></au-breadcrumb>
            <au-title>
                <mat-icon
                    svgIcon="mat_solid:attachment"
                    class="icon-size-8 mr-2"
                >
                </mat-icon>
                {{ t('kitchenSink.Attachments') }}
            </au-title>
        </div>

        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="ml-3"
                    type="submit"
                    form="formDetail"
                    mat-flat-button
                    [disabled]="fg.pristine"
                    [color]="'accent'"
                >
                <mat-icon
                    class="icon-size-5 mr-2"
                    svgIcon="mat_solid:save"
                >
                </mat-icon>
                {{ t('Submit') }}
            </button>
        </div>
        <!-- / Actions -->

    </div>
    <!-- / Header -->

    <!-- Main -->
    <div class="flex-auto pt-6 px-6 sm:pt-10 sm:px-10 overflow-y-auto" cdkScrollable>

        <div class="form-card">

            <form   id="formDetail"
                    novalidate
                    [formGroup]="fg"
                    (ngSubmit)="onSubmit()">

                <div class="layout__container">

                    <au-attachments
                        formControlName="attachments"
                        placeholder="{{ 'APPS.DRAG_FILES' }}"
                        (files)="
                            actionService.action({
                                id          : 'kitchenSink::attachments.detail.attachment',
                                isViewAction: false,
                                meta    : {
                                    files: $event
                                }
                            })
                        "


                        class="col-12"
                        name="attachments"
                        [families]="attachmentFamilies"
                    >
                    </au-attachments>

                    <au-file-upload
                        class="col-12"
                        (files)="
                            actionService.action({
                                id          : 'kitchenSink::attachments.detail.file-upload',
                                isViewAction: false,
                                meta    : {
                                    files: $event
                                }
                            })
                        "
                    >
                    </au-file-upload>

                </div>

            </form>

        </div>

    </div>
    <!-- / Main -->

</div>
